{{- if .Values.pims.datasetImportFolder }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: pims-import
  labels:
    app: pims-import
spec:
  schedule: "@hourly"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: {{ include "cytomine.serviceAccountName" . }}
          initContainers:
          # putting multiple containers for psql commands for the sake of clarity
          - name: private-key-fetcher
            image: {{ .Values.images.postgresql }}
            imagePullPolicy: {{ .Values.images.pullPolicy }}
            command: ["/bin/sh", "-c"]
            args: ["psql --no-align --quiet --tuples-only -U $(POSTGIS_USER) -h $(POSTGIS_HOST) -o /data/private_key -c \"SELECT private_key from sec_user where username = 'ImageServer1'\" && cat /data/private_key"]
            env:
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                    name: postgres-core-secret
                    key: password
            - name: POSTGIS_HOST
              value: postgis.{{ .Release.Namespace }}.svc.cluster.local
            - name: POSTGIS_PORT
              value: "5432"
            - name: POSTGIS_USER
              value: "{{ .Values.postgresql.user }}"
            volumeMounts:
            - name: data
              mountPath: /data
          - name: public-key-fetcher
            image: {{ .Values.images.postgresql }}
            imagePullPolicy: {{ .Values.images.pullPolicy }}
            command: ["/bin/sh", "-c"]
            args: ["psql --no-align --quiet --tuples-only -U $(POSTGIS_USER) -h $(POSTGIS_HOST) -o /data/public_key -c \"SELECT public_key from sec_user where username = 'ImageServer1'\" && cat /data/public_key"]
            env:
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                    name: postgres-core-secret
                    key: password
            - name: POSTGIS_HOST
              value: postgis.{{ .Release.Namespace }}.svc.cluster.local
            - name: POSTGIS_PORT
              value: "5432"
            - name: POSTGIS_USER
              value: "docker"
            volumeMounts:
            - name: data
              mountPath: /data
          containers:
          - name: import-call
            image: {{ .Values.images.pims_import }}
            imagePullPolicy: {{ .Values.images.pullPolicy }}
            command: ["/bin/sh", "-c"]
            # we cannot currently differenciate urls in this helpers, so we call from outside.
            args: [ "python examples/import_datasets.py --cytomine_core_host=http://core.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.core.port }} --cytomine_pims_host=http://pims.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.pims.port }}/ --public_key=$$(cat /data/public_key) --private_key=$$(cat /data/private_key) --import-uri=/ims/import"]
            volumeMounts:
            - name: data
              mountPath: /data
          volumes:
          - emptyDir: {}
            name: data
          restartPolicy: Never
      backoffLimit: 1
{{- end }}
