/* Progress Bars */
.progress {
  background-color: $dark-bg-secondary;
  border-radius: 4px;
  height: 1.25em;
  overflow: hidden;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

  &::-webkit-progress-bar {
    background-color: $dark-bg-secondary;
  }

  &::-webkit-progress-value {
    background-color: $success;
    transition: width 0.3s ease;
  }

  &::-moz-progress-bar {
    background-color: $success;
  }

  &.is-info {
    background-color: $dark-bg-secondary;
    &::-webkit-progress-value { background-color: $info; }
    &::-moz-progress-bar { background-color: $info; }
  }

  &.is-success {
    &::-webkit-progress-value { background-color: $success; }
    &::-moz-progress-bar { background-color: $success; }
  }

  &:not(:last-child) {
    margin-bottom: 0.75em;
  }
}
