/* Property Tables (Key-Value pairs) */
.table.properties-table {
  background: transparent;
  width: 100%;
  margin-bottom: 0 !important;
  
  td {
    border: none;
    padding: 0.5em 1em;
    vertical-align: top;
  }

  .prop-label {
    white-space: nowrap;
    font-weight: 600;
    width: 1%; /* Shrink to fit content */
    padding-right: 2rem;
    color: $dark-text-secondary;
  }

  .prop-content {
    font-weight: 400;
    color: $dark-text-primary;
    width: 100%;
  }

  .prop-content-half {
    font-weight: 400;
    color: $dark-text-primary;
    width: 50%;
  }
}