/* Search & Filter Blocks */

.search-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

.search-input {
  max-width: 25rem;
  flex-grow: 1;
}

@include mobile {
  .search-input {
    max-width: 100%;
  }
}
