/* Table */

.table tbody tr:last-child td {
  border-bottom-width: 1px !important;
}

.table tbody tr:last-child th {
  border-bottom-width: 2px !important;
}

.table tbody>tr:last-child>td,
.table tbody>tr:last-child>th {
  border-bottom-width: 0 !important;
}

/* Dark Mode Colors & Borders */
.b-table .table {
  background-color: $dark-bg-primary !important;
  color: $dark-text-primary;
}

.table {
  background-color: $dark-bg-primary;
  color: $dark-text-primary;

  thead {
    th {
      background-color: $dark-bg-secondary;
      color: $dark-text-primary;
      border-color: $dark-border-color;
    }
  }

  tbody {
    tr {
      background-color: $dark-bg-primary;
      color: $dark-text-primary;

      &.is-selected {
        background-color: $dark-bg-active;
        color: $dark-text-primary;
      }

      &:hover {
        background-color: $dark-bg-hover;
      }
    }

    td {
      border-color: $dark-border-color;
      color: $dark-text-primary;
    }
  }
  
  tfoot {
    th {
      border-color: $dark-border-color;
      color: $dark-text-primary;
    }
  }
}

/* Sort Icons */
.b-table .table th.is-sortable:not(.is-current-sort) .th-wrap::after {
  font-family: "Font Awesome 5 Free";
  content: "\f0dc";
  position: relative;
  color: $dark-text-primary;
  left: 8px;
  top: 1px;
}

.b-table .table th.is-current-sort {
  font-weight: 600 !important;
  color: $dark-text-primary;
}

.b-table .table .th-wrap {
  color: $dark-text-primary;
}

.b-table .table th .button {
  font-weight: 400;
}

.b-table .table tr.detail {
  background-color: $dark-bg-primary !important;
}

.detail-container {
  padding: 0.45rem !important;
  font-size: 0.9rem !important;
}