{
  "CYTOMINE_CORE_HOST": "{{ include "core.url" . }}",
  "CYTOMINE_UPLOAD_URI": "/ims/upload",
  "DIGITAL_ZOOM_INCREMENT": 4,
  "VIEWER_ANNOTATIONS_REFRESH_INTERVAL": 10000,
  "MEMBERS_ACTIVITY_REFRESH_INTERVAL": 30000,
  "STORAGE_REFRESH_INTERVAL": 10000,
  "ONGOING_UPLOAD_REFRESH_INTERVAL": 500,
  "CYTOMINE_COMMERCIAL_VERSION": "{{ .Release.appVersion }}",
  "APPENGINE_ENABLED": true
}
