apiVersion: v1
kind: Namespace
metadata:
  name: ingress
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: ingress-nginx
  namespace: kube-system
spec:
  repo: https://kubernetes.github.io/ingress-nginx
  chart: ingress-nginx
  targetNamespace: ingress
  createNamespace: true
  valuesContent: |-
      hostPort:
        enabled: true
