apiVersion: apps/v1
kind: Deployment
metadata:
  name: sam
  labels:
    app: sam
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sam
  template:
    metadata:
      labels:
        app: sam
      annotations:
        checksum/config: "{{ include (print $.Template.BasePath "/sam/sam-config.yaml") . | sha256sum }}"
    spec:
        containers:
        -   name: sam
            image: "{{ .Values.images.sam }}"
            ports:
            - containerPort: {{ .Values.sam.port }}
            envFrom:
            - configMapRef:
                name: sam
            command: ["/bin/sh", "-c"]
            args: [ "fastapi run app/main.py"]
            env:
              - name: CYTOMINE_PUBLIC_KEY
                valueFrom:
                  secretKeyRef:
                    name: core-secret
                    key: ADMIN_PUBLIC_KEY
              - name: CYTOMINE_PRIVATE_KEY
                valueFrom:
                  secretKeyRef:
                    name: core-secret
                    key: ADMIN_PRIVATE_KEY
