name: Lint and Test Charts

on:
  workflow_call:
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true
      REGISTRY_USERNAME:
        required: true
      REGISTRY_TOKEN:
        required: true

permissions: {}

jobs:
  lint-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1

      - uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.x'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: Create kind cluster
        uses: helm/kind-action@v1.13.0

      - name: Create Namespace
        run: kubectl create ns cytomine-${{ github.sha }}

      - name: Create Harbor Registry secrets
        run: kubectl create secret docker-registry docker-images-pull-secret --namespace=cytomine-${{ github.sha }} --docker-server=registry.cytomine.org --docker-username=${{ secrets.REGISTRY_USERNAME }} --docker-password=${{ secrets.REGISTRY_TOKEN }}

      - name: Create Docker Registry secrets
        run: kubectl create secret docker-registry docker-images-pull-secret-2 --namespace=cytomine-${{ github.sha }} --docker-username=${{ secrets.DOCKERHUB_USERNAME }} --docker-password=${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create Service Account
        run: 'kubectl patch serviceaccount default --namespace=cytomine-${{ github.sha }} -p ''{"imagePullSecrets": [{"name": "docker-images-pull-secret"},{"name": "docker-images-pull-secret-2"}]}'''

      - name: Run chart-testing (lint and install)
        run: ct lint-and-install --target-branch ${{ github.event.repository.default_branch }} --chart-dirs=helm/charts/ --all --namespace=cytomine-${{ github.sha }} ${{ github.ref_name != 'main' && format('--helm-extra-set-args=--set=images.core=registry.cytomine.org/cytomine/core:{0} --helm-extra-set-args=--set=images.app_engine=registry.cytomine.org/cytomine/app-engine:{0} --helm-extra-set-args=--set=images.sam=registry.cytomine.org/cytomine/sam:{0} --helm-extra-set-args=--set=images.web_ui=registry.cytomine.org/cytomine/web-ui:{0} --helm-extra-set-args=--set=images.cbir=registry.cytomine.org/cytomine/cbir:{0} --helm-extra-set-args=--set=images.pims=registry.cytomine.org/cytomine/pims:{0}', github.sha) || '' }}
