@import "~bulma/sass/utilities/_all";

$primary: #88C0D0;
$primary-invert: findColorInvert($primary);
$dark-primary: #81A1C1;
$dark-primary-invert: findColorInvert($dark-primary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$custom_colors: (
    "primary": ($primary, $primary-invert),
    "dark-primary": ($dark-primary, $dark-primary-invert)
);

$colors: mergeColorMaps($colors, $custom_colors);
