@import './bulma.scss';
@import './v-tooltip.scss';
@import './vue-sl-tree.scss';
@import './dark-variables.scss';
@import './base.scss';

// Global Typography
html {
  font-size: 12px;

  @include widescreen {
    font-size: 13px;
  }

  @include fullhd {
    font-size: 14px;
  }
}

// IE Compatibility
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .tile {
    flex-basis: auto !important;
  }
}

// Components
@import './components/scrolling';
@import './components/tables';
@import './components/panels';
@import './components/modals';
@import './components/loading';
@import './components/messages';
@import './components/progress';
@import './components/buttons';
@import './components/cards';
@import './components/forms';
@import './components/notifications';
@import './components/filters';
@import './components/properties';
@import './components/search';
@import './components/vendors';

// Vendor Styles
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import '~npm-font-open-sans/open-sans.css';
